<link rel='stylesheet' href='/css/notLoggedIn.css'>
<div id='form' class='ui container'>
	<h1>Login</h1>
	<form class="ui form" action='/login' method='POST'>
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="Username">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="Password">
		</div>
		<button class="ui black button" type="submit">Login</button>
	</form>
</div>