<link rel='stylesheet' href='/css/notLoggedIn.css'>
<div id='form' class='ui container'>
	<h1>Sign Up</h1>
	<form class="ui form" action='/register' method='POST'>
		<div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="Username">
		</div>
		<div class="field">
			<label>Password</label>
			<input id='pass' type="password" name="password" placeholder="Password">
		</div>
		<div class="field">
			<label>Confirm Password</label>
			<input id='confirmPass' type="password" placeholder="Password">
		</div>
		<button class="ui black button" type="submit">Sign Up</button>
	</form>
</div>