<link rel='stylesheet' href='/css/main.css'>
<title>Search</title>

<div id='review' class='ui container segment'>
		<div id='albumList' class='ui four cards'>
			
		</div>
	</div>
<script src='/javascript/search.js'></script>
<script src='/javascript/searchListener.js'></script>