<link rel='stylesheet' href='/css/main.css'>
<title>Search</title>

<div id='searchContainer' class='ui container'>
	<div class='ui container'>
		<div>
			<strong><span id='searchArtist'>Albums</span></strong>
			<span id='expand'>Expand+</span>
		</div>
	</div>
	<div id='review' class='searchSegment ui container segment'>
			<div id='searchAlbumList' class='ui four cards'>
				
			</div>
		</div>
	<script src='/javascript/search.js'></script>
	<script src='/javascript/searchListener.js'></script>
</div>