<div class='ui container'>
  <div id='searchContainer' class='ui segment'>
    

	<div class='ui container'>
		<strong><span>Info</span></strong>
	</div>

	<div id='bio' class='ui segment center aligned container'>
		
	</div>
    <div>
			<strong><span id='expandAlbum' class='expand'>Top Albums <a id='expandSymbolAlbum'>+</a></span></strong>
		</div>
    
      <div id='review' class='searchSegment ui container segment'>
			<div id='searchAlbumList' class='ui four cards'>
				
			</div>
	</div>
    
		<div>
			<strong><span id='expandArtist' class='expandArtist'>Top Artists <a id='expandSymbolArtist'>+</a></span></strong>
		</div>
		<div id='similarArtist' class='ui segment'>
		
		<div id='similarArtistGrid' class='ui grid container'>

							<div id='similarArtistColumns' class="four wide column">
								
							</div>
		
	</div>
	

	
		</div>
  </div>
</div>



<script src='/javascript/searchTags.js'></script>