<link rel='stylesheet' href='/css/main.css'>
<title></title>
<div id="bg"></div>




<div id='reviews' class='ui container'>
	<div id='mainSeg' class='ui segment'>
		<div class='ui vertical segment'>
			<div class='ui center aligned container'>
			<div class='ui segment'>
				<span id='image'></span>
				<h1 class='ui text container' id='albumArtist'><span id='artist'></span><span id='album'></span></h1>
				<p id='review'></p>
				<div id='tags' class='ui center aligned container'>
					
				</div>
			</div>
			</div>
			<div id='add' class='ui container'>
				{{{album}}}
			</div>
			
			<div id='playlist' class='ui center aligned container'>
				
			</div>
			<div id='loader' class='ui container'>
				
			</div>
			<table id='table' class="ui fixed single line celled table">
				
			</table>
		</div>
	</div>
</div>
<script src='/javascript/showlast.js'></script>
<script src='/javascript/searchListener.js'></script>