#hidden{
	display: none;
}
img{
	margin: 0 auto;
	border-radius: 5px;
	display: inline;
	max-width: 300px;
	max-height: 300px;
}
#readButton{
	width: 100%;
	border-radius: 0 0 5px 5px;
}
#form{
	margin-top: 25px;
	width: 400px;
}
.basic.button{
}
#reviews{
	margin-top: 15px;
	margin-bottom: 15px;
	width: 600px;
}
#delete{
	width: 100%;
	border-radius: 0 0 5px 5px;
}
.ui.text{
	max-width: 500px;
	margin: 0 auto;
}
#card {
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#tags{
	margin-top: 15px;
}
#tag{
	margin-top: 5px;
}
#yt{
	float: right
}
#playButton{
	margin: 0px;
	width: 100%;
}
#bg {
		display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:blur(8px);  
}

#playlist{
	width: 100%;
	margin-top: 15px;
}
#add{
	display: none;
}
#addButton{
	margin-top: 15px;
	width: 100%;
}
#addButton:active{
	background: rgba(34, 36, 38, 0.15) !important;
}
#playButton:active{
	background: rgba(34, 36, 38, 0.15) !important;
}
#yt:active{
	background: rgba(34, 36, 38, 0.15) !important;
}
#invisForm{
	display: none;
}
#searchReadButton{
	width: 100%;
	border-radius: 0 0 5px 5px;
}
#segmentWrapper{
	margin-top: 50px;
	display: none;
}
#cardInfo{
	padding: 10px 0 10px 0;
	bottom: 0;
	margin: auto 0 auto 0px;
}
#mainAlbumSegment{
	margin-top: 0;
}
#trash{
	
	display: none;
}
#invisButton{
	height: 35px;
	width: 100%;
	border-radius: 0 0 5px 5px;
}
.left, .icon, .input{
	margin-left: 10px;
}

#artistSort{
	cursor: pointer;
}
#added{
	display: none;
}
#edit{
	float: right;
	color: red;
	cursor: pointer;
}
#albumCollection{
	margin: 15px 0 15px 0;
}
#sortAndDelete{

}
#cardArtist{
	margin-bottom: 2px;
}
#imageContainer{
	display: inline-block;
}

#imageContainer:hover #similarArtistContainer{
	text-decoration: underline;
	
} 
#albumArtist{
	font-size: 1.5em;
	width: 100%;
	margin: 15px 0 15px 0;
}
#menu{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px lightgray;
}
body{
	padding-top: 50px;
}
#home, #logout{
	color: rgba(0, 0, 0, 0.6);
}
#home:hover{
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
}
#logout:hover{
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
}
#registerClosed{
	width: 400px;
	margin: 25px auto;
}
#noMusic{
	padding: 15px 15px 15px 15px;
	margin: 25px auto 25px;
}
#searchContainer{
	margin: 15px auto;
}
#review{
	font-size: 1.1em;
	margin-top: 0px;
}
#bio{
	margin-top: 0px;
}
#songList{
	
	margin: 0px;
	padding-top: 0px;
}
#similarList{
	
	padding: 0px;
	margin-top: 0px;
}
#searchSimilar{
	padding-left: 1em;
	
	float: right;
	width: 48%;
	margin-top: 0px;
}
#searchArtist{
	
	
	margin-bottom: 15px;
}
#expandArtist{
	
	display: inline;
}
#songs{
	display: inline;
}
.searchSegment{

}
#searchAlbumList{
    
}
.searchAlbumCard{

}
#hiddenCards{

}
.expand{
	cursor: pointer;
}
.column{
	padding: 0px;
}
#artistAndSimilar{
	display: flex;
}

#similarArtist{
	margin-top: 0px;
	
}

#similarArtistGrid{
	padding: 0px !important;
	margin: 0px !important;
}

#similarArtistColumns{
	padding: 0px !important;
	margin: 0px !important;
}

#similarArtistColumn:nth-child(1){
	border-top-left-radius: 5px;
}

#similarArtistDiv{
	display: none;
}

#similarArtistContainer{
	width: 100%;
	font-size: 1.5em;
	color: white;
	position: absolute;
	bottom: 0px;
	text-shadow: 1px 1px black;
	
}
#similarArtistName{
	padding-left: 7px !important;
}
#similarImageContainer{
	
	margin: 0px;
	display: inline-block;
}
#similarImage{
	
	border-radius: 0px !important;
}
#similarArtistColumn{
	padding: 0px !important;
}
#similarArtistCard{
	box-shadow: 0px 0px 0px 0px !important;
}
#artistTitle{
	margin: 10px !important;
}
#artistSummary{
	margin-top: 10px;
}


@media only screen and (max-width: 767px){

	#trackName{
		padding: 0.78571429em 0.78571429em !important;
	}

	.ui.table:not(.unstackable) tr{
		padding-top: 0px;
		padding-bottom: 0px;
		box-shadow: 0px 0px 0px 0px !important;
	}
	
 
	/*.ui.celled.table tr td:nth-child(2){
		border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	.ui.celled.table tr td:nth-child(2){
		border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
	}*/

	.ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr:not(:first-child) > td{
		border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	
	
	.ui.celled.table tr th:first-child, .ui.celled.table tr td:first-child{
		font-weight: normal !important;
	}

}

