#menu{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid 1px lightgray;
}
body{
	padding-top: 50px;
}
#home, #logout{
	color: rgba(0, 0, 0, 0.6);
}
#home:hover{
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
}
#logout:hover{
	background-color: transparent;
	color: rgba(0, 0, 0, 0.8);
}
#registerClosed{
	width: 400px;
	margin: 25px auto;
}
#form{
	margin-top: 25px;
	width: 400px;
}