@media only screen and (max-width: 767px){

	.ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr:not(:first-child) > td{
		border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	.ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr:first-child > td:first-child{
		border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	
}