@media only screen and (max-width: 650px){

	.ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr:not(:first-child) > td{
		border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	
	.ui.table:not(.unstackable) tr > td:last-child {
    display: none !important;
  }
	
	
	.ui.circular.image > img{
		max-height: 200px;
	}
	
	
	
}

@media only screen and (max-width: 650px){
	#similarArtistColumn:last-child{
		display: none;
	}
}

.ui.text.container{
	width: 100%;
}


#playlistSearch{
	display: inline;
	float: right;
	margin-top: 0px;
}
#table{
	margin-top: 0px;
}