@media only screen and (max-width: 767px){

	.ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr:not(:first-child) > td{
		border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	.ui.table:not(.unstackable) tr > th, .ui.table:not(.unstackable) tr:first-child > td:first-child{
		border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
	}
	
	#trackName{
		padding: 0.78571429em 0.78571429em !important;
		
	}

	.ui.container{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	
	#similarArtistContainer{
		font-size: 1em;
	}
	#similarArtistColumn:last-child{
		display: none;
	}
	
}
#playlistSearch{
	display: inline;
	float: right;
	margin-top: 0px;
}
#table{
	margin-top: 0px;
}